@using viramesV4.Object.BusinessLogicLayer.Master
@model IList<WorkstationGroupWorkstationAppointment>
@{
    ViewBag.Title = "workstationGroupWorkstationAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        İş İstasyonu Havuzu İş İstasyonu Atamaları
    </h1>
    <div class="box-body ">
        <button type="button" class="btn btn-primary">
            <span class=" fa fa-file"></span> Yeni
        </button>
        <button type="button" class="btn btn-primary">
            <span class=" fa fa-edit"></span> Düzenle
        </button>
        <button type="button" class="btn btn-primary">
            <span class=" fa fa-eye"></span> Görüntüle
        </button>
        <button type="button" class="btn btn-primary ">
            <span class=" fa fa-copy"></span> Kopyala
        </button>
        <button type="button" class="btn btn-primary">
            <span class=" fa fa-share-square"></span> Aktarım
        </button>
        <button type="button" class="btn btn-danger">
            <span class=" fa fa-trash"></span> Sil
        </button>
    </div>


</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>İş İstasyonu Havuzu</th>
                                <th>İş İstasyonu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (WorkstationGroupWorkstationAppointment workstationGroupWorkstationAppointment in Model)
                            {
                                <tr>
                                    <td>@workstationGroupWorkstationAppointment.WorkstationGroup</td>
                                    <td>@workstationGroupWorkstationAppointment.Workstation</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

