
@{
    ViewBag.Title = "detailCriteriaSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using viramesV4.Object.BusinessLogicLayer.Master
@model IList<CriteriaSet>

<section class="content-header">

    <div class="box-body ">
        <a class="btn btn-app btn btn-primary" onclick="goBack()">
            <i class="fa fa-arrow-left"></i> Geri
        </a>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h2>
                        Malzeme Kriter Setleri

                    </h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Kriter Seti Kodu</th>
                                <th>Kriter Seti Tanımı</th>
                                <th>Özel Kod</th>
                                <th>Durum</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CriteriaSet material in Model)
                            {

                                <tr>
                                    <td>@material.Code</td>
                                    <td>@material.Definition</td>
                                    <td>@material.SpeCode</td>
                                    <td>@material.Status</td>


                                </tr>

                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>




